#container {
    background-color: rgb(52, 59, 161);
    height: 250px;
    padding: 20px;
  }
  .inline_block {
    display: inline-block;
   
    background-color: red;
    padding: 50px;
    color: white;
    font-family: arial;
  }