html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }
  .img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  .sketchface {
    width: 400px;
    height: 400px;
  }
  .behind {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
  }